*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #D4D4D4;
    font-family: 'Open sans';
    }

.wrap{
    width: 1024px;
    max-width: 90%;
    margin: 30px auto;
    }

ul.tabs{
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
    }

ul.tabs li{
    width: 12.5%;
}

ul.tabs li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;

    display: block;
    padding: 10px 5px;
    }

.active{
    background: #E27000;
    }


.tab-text{
    margin-left: 8px;
    }

.tabs-container{
    width: 100%;
    background: #fff;
    }

.tabs-container article{
    padding: 30px;
}

.tabs-container article section{
    text-align: left;
    padding: 5px 0px;
    width: 100%
}

.tabs-container article li{
  list-style: none;
  display: flex;
  padding: 10px 0px;
}

.nextbutton{
  width: 12.5%;
  background: #E27000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  margin: auto;

  display: block;
  padding: 10px 5px;
}

.submitbutton{
  width: 12.5%;
  background: #E27000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  margin: auto;

  display: block;
  padding: 10px 5px;
}

.obtenerHuella{
  width: 12.5%;
  background: #E27000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  margin: auto;

  display: block;
  padding: 10px 5px;
}

#results {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  table-layout: fixed;
}

#results td,th{
  text-align: center;
  border: 1px solid black;
  word-break: break-word;
}


@media screen and (max-width: 1030px){
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
        }
    }

@media screen and (max-width: 1030px){
    ul.tabs li a{
        padding: 15px 0px;
        }
    ul.tabs li a .tab-text{
        display: none;
        }

    .tabs-container article{
        padding: 20px;
        }
    }

@media screen and (max-width: 800px){
    .tabs-container article li a .tab-text {
          display: none;
          }
        }
