{% load static %}
{% load cookiebanner %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Browser Tracking Demos</title>
  <link rel="icon" href="{% static "img/favicon.ico" %}">

    <!-- Bootstrap core CSS -->
  <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static "fontawesome/css/fontawesome.css"%}">
  <link rel="stylesheet" href="{% static "fontawesome/css/solid.css"%}">
  {% block extra_css %}
  {% endblock %}

</head>

<body>
  {% cookiebanner_modal %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Browser Tracking Methods</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" href="#">Home-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tracking:fingerprint' %}">Fingerprint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tracking:etag' %}">Etag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% block content %}

  {% endblock %}

 <!-- Bootstrap core JavaScript -->
  <script src="{% static "jquery/jquery.slim.min.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  {% block extra_scripts %}
  {% endblock %}

</body>

</html>