{% extends "tracking/base_layout.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mt-5">A Browser Fingerprinting Demo</h1>
        <p class="lead">Your browser fingerprint was computed inside your device but was not sent to anyone else. See details bellow.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}